/* !!!transfer imgs to assets folder!!! */

/* !!!group divider properties together!! */
/* 
fix!!! .projects {
    min-height: 424px;
} */

/*constant styles start: */

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    color: #0F5B5D;
    font-family: "DM Sans", sans-serif;
}

.wrapper {
    width: 1320px;
    margin: auto;
}

ul {
    list-style: none;
}

.divider-bright {
    display: flex;
    align-items:center;
    justify-content: flex-end;
    padding-right: 13px;
    height: 33px;
    background-image: linear-gradient(to left, #95FCFF, white)
}

h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.divider-dark {
    display: flex;
    align-items:center;
    justify-content: flex-start;
    padding-left: 13px;
    height: 33px;
    background-image: linear-gradient(to right, #167E85, white);
}

.divider-dark>h3 {
    color: #95FCFF;
}

/*constant styles end: */

/* header style starts */

.header {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 44px;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
}

.navigation__list{
    color: #0B4445;
    display: flex;
    padding: 0;
}

.navigation__link {
    padding-right: 57px;
    cursor: pointer;

}

.navigation__link>a {
    text-decoration: none;
    color: #0B4445;
    font-weight: 700;
    
}


/* header style end */

/* main style start */

.main-container {
    display: flex;
}


/* aside style start  */
/* aside general  */
aside {
    width: 540px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left, #167E85 , white);
}

/* aside contacts  */

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 39px;
    color: #0F5B5D;
    text-align: right;
    font-size: 24px;
}

.aside_contacts_list_item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 39px;
}

.aside_contacts_list_item:last-child {
    margin-bottom: 0;
}

.aside_contacts_list_item>a, p {
    padding-right: 20px;
    text-decoration: none;
    color: #0B4445;
}

/* aside education  */
.education__info {
    margin: 50px 0 49px 0;
    padding-right: 39px;
}

.aside_education_list {
    margin: 0;
    padding: 0;
}

.aside_education_list_item {
    padding-bottom: 23px;
}

.aside_education_list_item:last-child {
    padding: 0;
}

.year {
    margin: 0;
    color: #95FCFF;
    text-align: right;
    font-size: 24px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.education__school-info {
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 24px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* right column style start */




.right-column {
    display: flex;
    flex-direction: column;
}



.name {
    display: flex;
    flex-direction: column;
    padding-left: 122px;
    min-height: 421px;
    color: #167E85;
}

.name>h1 {
    margin-bottom: 0;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;

}

.name>h2 {
    margin-top: 12px;
    font-style: normal;
    font-weight: 400;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__about-me {
    padding-left: 39px;
    margin: 57px 0 58px 0;
}

.main__about-me_paragraph {
    color: #0F5B5D;
    font-size: 24px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* padding-bottom: 7px; */
    margin: 0;
}
.main__about-me_paragraph:first-child {
    margin-bottom: 29px;
}

/* projects style */

.main__list_item>h3 {
    color: #0F5B5D;
    font-size: 24px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

.main__list_item>p {
    color: #0F5B5D;
    font-size: 24px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
}

.projects {
    min-height: 424px;
}


/* code example style */

pre {
    padding: 39px;
        font-size: 12px;
}

/* main style end */

/* footer style start  */

.footer {
    box-shadow: 0px -4px 4px 0 rgba(0, 0, 0, 0.25);
    overflow: auto;
}

.footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    margin: auto;
}



.footer__list {
    display: flex;
    padding: auto;

}

.footer__list {
    display: flex;
    margin: 0;
    padding: 0;
}

.footer__list_item>h3 {
    margin: 0;
}
.footer__list_item {
    padding-right: 72px;
}

aside {
    /* z-index: -1; */
}